<div class="sign-in-container">
  <h2>{{ 'sign_in.title' | t }}</h2>
  <form action="/account/login" method="post" id="sign-in-form">
    <label for="customer_email">{{ 'sign_in.email_label' | t }}</label>
    <input type="email" id="customer_email" name="customer[email]" required>
    
    <label for="customer_password">{{ 'sign_in.password_label' | t }}</label>
    <input type="password" id="customer_password" name="customer[password]" required>
    
    <button type="submit">{{ 'sign_in.button_text' | t }}</button>
  </form>
  <p>{{ 'sign_in.create_account_text' | t }} <a href="/account/register">{{ 'sign_in.create_account_link' | t }}</a></p>
</div>
