<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page_title }}</title>
    {{ content_for_header }}
    <link rel="stylesheet" href="{{ 'app.css' | asset_url }}">
</head>
<body>
    <div class="banner" id="discount-banner">
        <p>Use code SAVE20 for 20% off!</p>
    </div>
    {{ content_for_layout }}
    {{ content_for_footer }}
    
    <script src="{{ 'banner.js' | asset_url }}"></script>
</body>
</html>
